.Home {
     height: 80vh;
     overflow: hidden;
     font-weight: bold;
}

.Home img {
    width: 100%;
    position: relative;
    opacity: 0.99;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.379);
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 88px;
}

.Details {
    position: absolute;
    top: 30%;
    color: white;
    text-align: left;
    padding: 0px 90px;
}

.playbut {
    background-color: red;
    color: rgb(255, 255, 255);
         padding:15px ;
         width: 200px;
         font-weight: bold;
}

.Details p {
    width: 500px;
}

.PlayIcon {
    position: absolute;
    color: white;
    z-index: 2;
    top: 40%;
    right: 30%;
    
}

.icontitle {

        position: absolute;
    color: white;
    z-index: 2;
    top: 43%;
    right: 20%;
    

}