.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
}

.titles {
    display:flex ;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: red;
}


.Navbar h1{
    font-size:33px ;
}

.Navbar h3{
 color: red;
 padding-top:5px ;
}

.NavLinks ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}


.NavLinks ul li {
 margin: 0px 25px;
}

.Icons {
    display: flex;
}